extends layout
block title
	title #{title}
block content
	h1 #{heading}
	form(method='POST', action='/articles/add').col-sm-6
		#form-group
			label Title:
			input.form-control(name='title', type='text')
			label Author:
			input.form-control(name='author', type='text')
			label Body: 
			textarea.form-control(name='body')
			label Category: 
			select.form-control(name='category')
				option -
				option(value='horror') Horror
				option(value='mystery') Mystery
				option(value='fiction') Fiction
				option(value='politics') Politics
				option(value='nonFiction') Non-Fiction

			


			input.btn.btn-primary.btn-block.mt-5(type='submit', value='Submit')